/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */

#body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #cad9ed, #11b8cb, #ff6a00);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
}

/* Background Animation */
@keyframes bgMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background: rgba(255, 255, 255, 0.12);
    width: 100vh;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    color: white;
    animation: fadeUp 0.7s ease;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-box h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
}

.subtitle {
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
    opacity: 0.9;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    color: #fff;
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
}

.input-group input:focus {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.forgot {
    display: block;
    text-align: right;
    margin-bottom: 18px;
    font-size: 14px;
    text-decoration: none;
    color: #ffde59;
}

.forgot:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    background: #ffcc00;
    color: #333;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: #ffda33;
}

.register {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #ffde59;
    text-decoration: none;
    font-weight: 600;
}

.register a:hover {
    text-decoration: underline;
}