.ai-chat-header
{
    font-size:20px;
    font-weight:bolder;
    color:black;
}

.chat-body
{
 width:100%;
 background-color:#60CBF7;
 height:auto;
 font-size:15px;
 color:black;
}

.chat-input
{
 font-size:15px;
 color:black;    
}